.App-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
}

tr {
  font-size: 32px;
  text-align: center;
}

.title {
  text-align: left;
  font-size: 36px;
}

.pass {
  color: rgb(0, 102, 0);
}

.fail {
  color: rgb(174, 67, 67);
}

td.fail {
  background-color: rgb(255, 200, 200);
}

td.pass {
  background-color: rgb(200, 255, 200);
}

